<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue App</title>
    <link rel="icon" type="image/x-icon" href="favicon.png">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <div v-if="showProduct">
            <header>
                <h1>Online Classes</h1>
                <div>
                    <label for="search">Search:</label>
                    <input type="text" id="search" v-model="searchQuery" @input="searchLessons">
                </div>
                <div class="search-grid">
                    <div class="search-card" v-for="lesson in lessons"></div>
                </div>
                <div>
                    <button v-on:click="showCheckoutpage" :disabled="this.cart.length <= 0">
                        {{ cartItemCount }}
                        <span class="fa-solid fa-cart-shopping"></span> Checkout
                    </button>
                </div>
            </header>
            <div>
                <h1>Lesson List</h1>
                <div>
                    <label for="sort">Sort by:</label>
                    <select v-model="sortAttribute" @change="sortLessons">
                        <option value="subject">Subject</option>
                        <option value="location">Location</option>
                        <option value="price">Price</option>
                        <option value="spaces">Spaces</option>
                    </select>
                    <label for="order">Order:</label>
                    <select v-model="sortOrder" @change="sortLessons">
                        <option value="asc">Ascending</option>
                        <option value="desc">Descending</option>
                    </select>
                </div>
                <div class="lessons-grid">
                    <div class="lessons-card" v-for="lesson in lessons">
                        <div class="lesson-content">
                            <div class="text">
                                <h2>{{ lesson.subject }}</h2>
                                <p>Location: {{ lesson.location }}</p>
                                <p>Price: ${{ lesson.price }}</p>
                                <p>Spaces: {{ lesson.spaces }}</p>
                                <button v-on:click="addToCart(lesson)" :disabled="lesson.spaces<= 0">Add to
                                    Cart</button>
                            </div>
                            <div class="image">
                                <img :src="lesson.icon" alt="AfterSchool Activity">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <header>
                <h1>Online Classes</h1>
                <div>
                    <button v-on:click="showCheckoutpage">
                        {{ cartItemCount }}
                        <span class="fa-solid fa-cart-shopping"></span> Checkout
                    </button>
                </div>
            </header>
            <div>
                <h1>Shopping Cart</h1>
                <div class="lessons-grid">
                    <div class="lessons-card" v-for="item in cart">
                        <div class="lesson-content">
                            <div class="text">
                                <h2>{{ item.subject }}</h2>
                                <p>Location: {{ item.location }}</p>
                                <p>Price: ${{ item.price }}</p>
                                <div class="quantity-control">
                                    <p>Quantity:
                                    <button @click="decrementQuantity(item)">-</button>
                                    <span>{{ item.quantity }}</span>
                                    <button @click="incrementQuantity(item)">+</button>
                                </p>
                                </div>
                                <button v-on:click="removeFromCart(item)">Remove Item</button>
                            </div>
                            <div class="image">
                                <img :src="item.icon"></img>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <h2>Checkout</h2>
                    <form name="myForm" method="post">
                        <div class="form-group">
                            <label for="fname">Name:</label>
                            <input type="text" id="fname" v-model="formData.fname">
                            <div class="error-message" v-if="validationErrors.name">{{ validationErrors.name }}</div>
                        </div>

                        <div class="form-group">
                            <label for="phone_no">Phone Number:</label>
                            <input type="text" id="phone_no" v-model="formData.phone_no">
                            <div class="error-message" v-if="validationErrors.number">{{ validationErrors.number
                                }}</div>
                        </div>

                        <input type="button" :disabled="!isFormValid" value="Checkout" @click="submitOrder(orderData)">
                        <div class="confirmation-message" v-if="orderSubmitted">{{ confirmationMessage }}</div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        let webstore = new Vue({
            el: '#app',
            data: {
                showProduct: true,
                cart: [],
                lessons: [],
                selectedItem: null,
                sortAttribute: 'subject',
                sortOrder: 'asc',
                formData: {
                    fname: '',
                    phone_no: '',
                },
                validationErrors: {
                    name: '',
                    number: '',
                },
                orderSubmitted: false,
                confirmationMessage: '',
                searchQuery: '',
                orderData: [],
            },
            methods: {
                addToCart(lesson) {
                    // Check if the lesson has available spaces
                    if (lesson.spaces > 0) {
                        // Decrement the spaces of the lesson
                        lesson.spaces--;

                        const existingLesson = this.cart.find(item => item._id === lesson._id);
                        if (existingLesson) {
                            // Increment the quantity if the lesson exists
                            existingLesson.quantity++;
                        } else {
                            // Add the lesson to the orderData array with quantity 1 if it doesn't exist
                            this.cart.push({ ...lesson, quantity: 1 });
                        }

                    } else {
                        // Handle case where there are no available spaces
                        console.log("No available spaces for this lesson");
                    }
                },
                // Method to decrement the quantity of a lesson in the cart
                decrementQuantity(lesson) {
                    const lessonIndex = this.cart.findIndex(item => item._id === lesson._id);
                    if (lessonIndex !== -1) {
                        if (this.cart[lessonIndex].quantity > 1) {
                            // Decrease the quantity if it's more than 1
                            this.cart[lessonIndex].quantity--;
                        } else {
                            // Remove the item from the cart if the quantity is 1
                            this.cart.splice(lessonIndex, 1);
                        }
                        // Increase the spaces since one item is removed
                        const lessonInList = this.lessons.find(item => item._id === lesson._id);
                        if (lessonInList) {
                            lessonInList.spaces++;
                        }
                    }
                },
                // Method to increment the quantity of a lesson in the cart
                incrementQuantity(lesson) {
                    const lessonIndex = this.cart.findIndex(item => item._id === lesson._id);
                    if (lessonIndex !== -1) {
                        // Increment the quantity
                        this.cart[lessonIndex].quantity++;
                        // Decrease the spaces since one item is added
                        const lessonInList = this.lessons.find(item => item._id === lesson._id);
                        if (lessonInList && lessonInList.spaces > 0) {
                            lessonInList.spaces--;
                        }
                    }
                },
                // Method to remove an item from the cart
                removeFromCart(lesson) {
                    const lessonIndex = this.cart.findIndex(item => item._id === lesson._id);
                    if (lessonIndex !== -1) {
                        this.cart.splice(lessonIndex, 1);
                        const lessonInList = this.lessons.find(item => item._id === lesson._id);
                        if (lessonInList) {
                            lessonInList.spaces += lesson.quantity; // Add back the spaces
                        }
                    }
                },
                showCheckoutpage() {
                    this.showProduct = !this.showProduct;
                },
                sortLessons() {
                    const attribute = this.sortAttribute;
                    const order = this.sortOrder === 'asc' ? 1 : -1;
                    this.lessons.sort((a, b) => {
                        if (a[attribute] < b[attribute]) return -1 * order;
                        if (a[attribute] > b[attribute]) return 1 * order;
                        return 0;
                    });
                },
                isNameValid() {
                    const regex = /^[a-zA-Z]+$/;
                    const name = this.formData.fname.trim();
                    if (name) {
                        if (!regex.test(name)) {
                            this.validationErrors.name = 'No special characters or numbers allowed';
                            return false;
                        }
                    } else {
                        this.validationErrors.name = 'Name must be provided';
                        return false;
                    }
                    this.validationErrors.name = '';
                    return true;
                },
                isPhoneValid() {
                    const regex = /^\d+$/;
                    const phone = this.formData.phone_no.trim();
                    if (phone) {
                        if (!regex.test(phone)) {
                            this.validationErrors.number = 'Only digits are allowed';
                            return false;
                        }
                    } else {
                        this.validationErrors.number = 'Phone number must be provided';
                        return false;
                    }
                    this.validationErrors.number = '';
                    return true;
                },
                async fetchLessons() {
                    try {
                        // Make a fetch request to get lessons data
                        const response = await fetch('http://vueapp-env-1.eba-rz3pbgpi.eu-west-2.elasticbeanstalk.com/api/lessons');
                        const data = await response.json();
                        this.lessons = data; // Update lessons data
                    } catch (error) {
                        console.error('Error fetching lessons:', error);
                    }
                },
                async updateLessonSpaces(lesson) {
                    try {
                        const numberOfSpaces = lesson.spaces;
                        const lessonid = lesson._id;

                        //PUT request to update the lesson spaces
                        const response = await fetch(`http://vueapp-env-1.eba-rz3pbgpi.eu-west-2.elasticbeanstalk.com/api/lessons/update-spaces`, {
                            method: 'PUT',
                            headers: {
                                'Content-Type': 'application/json'
                            },
                            body: JSON.stringify({ lessonIds: [lessonid], spaces: [numberOfSpaces] })
                        });

                        if (response.ok) {
                            console.log('Lesson spaces updated successfully:', lessonid);
                        } else {
                            throw new Error('Failed to update lesson spaces');
                        }
                    } catch (error) {
                        console.error('Error updating lesson spaces:', error);
                    }
                },
                saveOrder() {
                    if (this.cart && this.cart.length > 0) {
                        fetch('http://vueapp-env-1.eba-rz3pbgpi.eu-west-2.elasticbeanstalk.com/api/orders', {
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json',
                            },
                            body: JSON.stringify({
                                name: this.formData.fname,
                                phoneNumber: this.formData.phone_no,
                                lessonIds: this.cart.map(item => item._id), // Assuming each item in cart has an _id property
                                numberOfSpaces: this.cart.length,
                            }),
                        })
                            .then(response => response.json())
                            .then(data => {
                                console.log('Order saved:', data);
                                this.updateLessonSpaces(data.lessonIds);
                            })
                            .catch(error => console.error('Error saving order:', error));
                    } else {
                        console.error('Cart is empty');
                    }
                },
                async submitOrder() {
                    if (this.isFormValid) {
                        this.orderSubmitted = true;
                        try {
                            // Iterate through each lesson in the cart
                            for (const lesson of this.cart) {

                                // check if there is a lesson available //
                                if (lesson.spaces > 0){
                                // Update lesson spaces
                                await this.updateLessonSpaces(lesson);
                            }
                            }
                            // After updating all lessons, save the order
                            await this.saveOrder();
                            this.confirmationMessage = 'Order has been submitted!';
                        } catch (error) {
                            console.error('Error submitting order:', error);
                        }
                    } else {
                        this.validationErrors.name = 'No Special Characters or numbers allowed';
                        this.validationErrors.number = 'Only digits are allowed';
                    }
                },
                searchLessons() {
                    fetch(`http://vueapp-env-1.eba-rz3pbgpi.eu-west-2.elasticbeanstalk.com/api/search?query=${this.searchQuery}`)
                        .then(response => response.json())
                        .then(data => {
                            this.lessons = data;
                        })
                        .catch(error => {
                            console.error('Error searching lessons:', error);
                        });
                }
            },
            computed: {
                cartItemCount() {
                    return this.cart.length;
                },
                isFormValid() {
                    return this.isNameValid() && this.isPhoneValid();
                },
            },
            created() {
                this.fetchLessons();
            }
        });
    </script>
</body>

</html>